body{
    padding: 0;
    margin: 0;
    /* width: 100%; */
    height: 3000px;
    /* background-color: var(--primary-color); */
    font-family:Roboto,sans-serif;
  }
  .cursor {
    width: 40px;
    height: 40px;
    /* border: 1px solid white; */
    border-radius: 50%;
    position: absolute;
    transition-duration: 100ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events:visibleFill
}

.cursor::after {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    border: 8px solid black;
    border-radius: 50%;
    background-color: black;
    opacity: 1;
    top: -8px;
    left: -8px;
    animation: cursorAnim2 .5s infinite alternate;
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid red;
    
}
:root{
    --primary-color:hsl(23,72%,94%)
}
.dark-theme{
    --primary-color:#0d1017;
    color: #58595b;
}
  #app {
    width: 80%;
    margin: auto;
    height: 2800px;
    margin-top: 70px;
    background-color: var(--primary-color);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 10px;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 80%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }
  #app2{
    display:flex;
    justify-content:space-between;
    overflow: hidden; 
    background-color: var(--primary-color);
    
}
.app3{
    display:flex;
    justify-content:space-between;
    
}
.img{
    cursor: pointer;
}
.mail>a{
    text-decoration:none;
    color:rgb(97,106,115);
    display: block;
    transform: rotate(0deg);
    transition: transform 0.5s;
    margin-left: -5px;
    font-size: 18px;
    margin-top: 28px;
    z-index: -1;
    padding: 5px 10px;
}
.mail>a:hover{
    transform: rotate(-7deg); 
    color: white;
    background-color: rgb(230,85,71);
    font-size: 20px;
}
.app4{
    display:flex;
}
.sec{
    color:rgb(97,106,115);
    display: block;
    transform: rotate(0deg);
    transition: transform 0.5s;
    cursor: pointer;
    padding:5px 10px;
    height:29px;
    font-size:18px;
    margin-top:28px
}
.sec:hover{
    transform: rotate(-7deg); 
    color: white;
    background-color: rgb(230,85,71);
    font-size: 20px;
}
.app5{
    font-size: 30px;
    margin-top: 25px;
    margin-right: 20px;
    display: none;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav >div, a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .about{
    display: flex;
    margin-top: 20px;
  }
  .about1{
    display: flex;
    justify-content: space-around;
  }
  .imagediv{
    width: 400px;
    
  }
  .myimage{
    width: 95%;
    border-radius: 50%;
    margin-left: 40%;
    border: 10px solid rgba(14, 30, 37, 0.12)
  }
  .details{
    margin-left: 120px;
    /* margin-right: 90px; */
  }
  .icons{
    margin-left: 33px;
    margin-top: 150px;
    color: rgb(97,106,115);
  }
  .me{
    color: #F2F0EE;
    background-color: #2B2929;
    font-size: 21px;
    width: 70px;
    padding: 10px 10px;
    border-radius: 5px;
    border-bottom-right-radius: 28px;
  }
  .name{
    color: #58595b;
    font-size: 48px;
    margin-left: -20px;
    margin-top: -10px;
    font-family:Roboto,sans-serif
  }
  .surname{
    color: #58595b;
    font-family:Roboto,sans-serif;
    font-size: 48px;
    margin-top: -40px;
    margin-left: 20px;
  }
  .icons{
    cursor: pointer;
  }
  .role{
    color: #58595b;
    font-family:Roboto,sans-serif;
    margin-top: -20px;
    font-size: 20px;
    margin-left: -15px;
  }
  .des{
    color: #58595b;
    font-family:Roboto,sans-serif;
    margin-left: -15px;
    width: 400px;
    margin-top: 30px;
    font-size: 14px;
  }
  .maintalk{
       width: 70px;
       height: 70px;
       border: 1px solid red;
       border-radius: 50%;
       color: white;
       margin-top: 19px;
       margin-left: 10px;
       font-size: 20px;
       padding: 5px 7px;
       background-color: #e65446;
  }
  .border{
    width: 110px;
    height: 110px;
    background-color: #f3877e;
    border-radius: 50%;
    margin-left: 40px;
    margin-top: 45px;
    cursor: pointer;
    font-family:Roboto,sans-serif;
  }
  .talkone{
    margin-left: 15px;
  }
  .talktwo{
    margin-left: 25px;
  }
  
  /* .talk{
    width: 100%;
    height: 100%;
    margin-left: 16px;
  } */
  .one{
    margin-top: 10px;
  }
  .two{
    margin-top: 10px;
  }

/* contact section */

#section-wrapper{
  width: 80%;
  padding: 10px;
  margin: auto;
}
.box-wrapper{
  /* position: relative; */
  /* display: table; */
  width:100%;
  margin:auto;
  margin-top:35px;
  border-radius: 30px;
}
/* .icon{
  margin-top: 40px;
  text-align: center;

} */
.pm{
  display: flex;
  width: 95%;
  margin: auto;
  margin-top: 50px;

  text-align: center;
  color: rgb(97,106,115);
  justify-content: space-between;
}
.phone2{
  width: 30%;
  /* margin-left: 25px; */
  cursor: pointer;
  background: hsl(23,72%,94%);
  /* padding-right: 12px;
  padding-left: 12px; */
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;

}.gitlin{
  width: 30%;
  /* margin-left: 25px; */
  cursor: pointer;
  background: hsl(23,72%,94%);
  /* padding-right: 12px;
  padding-left: 12px; */
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}
.gmail{
  width: 30%;
  cursor: pointer;
  /* padding-right: 12px; */
  /* padding-left: 12px; */
  background: hsl(23,72%,94%);
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;

}

.form-wrap{
  padding:40px 25px 35px 25px;
  border-radius: 0px 30px 30px 0px;
  background: hsl(23,72%,94%);
}
.form-title{
  text-align: center;
  margin-left: 23px;
  font-size: 38px;
  letter-spacing: 0.5px;
  color: rgb(97,106,115);
  /* width: 300px; */
  margin: auto;
    /* transform: rotate(0deg); */
    transition: transform 0.5s;
}
/* .form-title:hover{
  width: 300px;
  transform: rotate(-7deg); 
  color: white;
  background-color: rgb(230,85,71);
  border-radius: 10px;
} */
.form-fields{
  display: flex;
  justify-content: space-between;
   /* width: 100%; */
  padding: 15px 7px 5px 7px;
  margin-top: 50px;
  
}
.form-fields input,
.form-fields textarea{
  border: none;
  outline:none;
  background: none;
  font-size: 18px;
  /* color:#555; */
  padding: 20px 10px 20px 5px;
  width:100%;
}
.form-fields textarea{
  height: 150px;
  resize: none;
}
.form-group{
  width: 75%;
  padding: 0px 46px;
  margin: 14px 12px;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}
/* .form-fields .form-group:last-child {
  width: 56%;
} */
.submit-button{
  width: 70%;
  margin: auto;
  height: 60px;
  margin-top: 15px;
  margin-left: 10px;
  border-radius: 30px;
  font-size: 20px;;
  font-weight: 700;
  outline: none;
  border:none;
  cursor: pointer;
  color: rgb(97,106,115);
  text-align: center;
  background: #F44770;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  transition: .5s;
}
.submit-button:hover{
  background: rgb(230,85,71);
  color: white;
}
/* ///////////////////// */

.p1{
  display: flex;
  /* justify-content: space-between; */
  width: 70%;
  margin: auto;
  margin-top: 30px;
  border-radius: 35px;
  background: hsl(23,72%,94%);
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px #ffffff;

}
.p1>div:nth-child(1){
  width: 55%;
  margin: auto;
  padding:15px;
  /* border: 1px solid red; */
}
.p1>div:nth-child(2){
  width: 45%;
  margin: auto;
  padding: 15px;}
.imggg{
  width: 100%;
  height: 300px;
  border-radius: 40px;
  margin-top: 10px;
  transition: transform .2s;
  border: 10px solid rgba(14, 30, 37, 0.12)
}

.p1>div>p{
  color: rgb(97,106,115);
  font-family: D-DIN Condensed,sans-serif;
 text-align: center;
 margin-top: 10px;
}
.p1h1{
  color: rgb(97,106,115);
  /* text-align: center; */
  /* font-size: 30px; */
  margin-top:-50px;
}
.gh{
  text-align: left;margin-top:-18px;
}
.p1a{
  color: rgb(97,106,115);
  font-size: 14px;
  margin-top: -10px;
  text-decoration: underline;
  text-align: center;
}
/* .btn {
  background-color: #fff;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .btn--left {
  left: 10;
  top: 100%;
  transform: translate(-50%, -50%);
} */

/* .btn--right {
  top: 100%;
  right: 0;
  transform: translate(50%, -50%);
} */

/* .btn-icon {
  height: 22px;
  width: 22px;
  stroke: #087f5b;
}

.btn:hover,
.btn:active {
  background-color:#e65446;
} */

/* Responsive css */

@media screen and (max-width: 1250px) {
    #app {
        
        margin-top: 0px;
        height: 3000px;
        /* margin: auto; */
        border: none;
      }
      /* .sticky{
        width: 100%;
      } */

      .app4{
        display: none;
    }
      .app5{
        display: block;
      } 
      /* .form-fields{
        flex-direction: column;
      } */
      .form-group{
        width: 65%;
        /* margin-left: 60px; */
      }
      /* .submit-button{
        width: 60%;
      } */
  }
  @media screen and (max-width: 539px) {
    #app{
      width: 100%;
    }
    #app2{
      width: 100%;
    }
      .imagediv{
        width: 300px;
        margin: auto;
        margin-top: 20px;
    }
    .mail{
        display: none;
      }
  }
  @media screen and (max-width: 356px) {
      #app{
        width: 100%;
      }
      .p1>div>p{
        font-size: 10px;
      }
      .p1a{
        font-size: 1px;
        width: 100%;
        margin: auto;
      }
    #app2{
      width: 100%;
    }
    .pm{
      width: 100%;
      margin: auto;
    }
    .gmail{
      width: 100%;
      margin-top: 20px;
      margin-bottom: -50px;
      font-size: 13px;
    }
}
  @media screen and (max-width: 430px) {
    .imagediv{
      width:180px;
      margin: auto;
      margin-top: 20px;
  }
  .p1h1{
    font-size: 22px;
  }
  .p1a{
    font-size: 10px;
  }
  .role{
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .form-title{
    font-size: 21px;
  }
  .gmail{
   
    font-size: 12px;
  }
  
}
@media screen and (max-width: 1135px) {
 .form-fields{
        flex-direction: column;
      }
      .submit-button{
        width: 40px;
      }
      .p1{
        width: 80%;
      }
      .form-group{
        margin: auto;
        margin-top: 30px;
        /* margin-left: 75px; */
      }

}
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    
  }
  @media screen and (max-width: 1000px) {
    .pm{
      font-size: 14px;
    }
    .p1{
      flex-direction: column;
    }
    .p1>div:nth-child(1){
      width: 90%;
      margin: auto;
      padding:15px;
      text-align: center;
    }
    .p1>div:nth-child(2){
      width: 80%;
      margin: auto;
      /* padding: 15px; */
    text-align: center;
    margin-top: 10px;
  }.p1>div>p{
    margin-top: 10px;
  }
  .visit>a{
    margin: auto;
    /* justify-content: center; */
    /* border: 1px solid red; */
  }

  }
  @media screen and (max-width: 1440px) {
    .myimage{
        margin-left: 0%;
      }
  }
  @media screen and (max-width: 900px) {
    .pm{
        flex-direction: column;
        width: 70%;
        margin: auto;
      }
      .phone2{
        width: 100%;
        margin-top: 20px;
      }
      .gitlin{
        width: 100%;
        margin-top: 20px;
      }
      .gmail{
        width: 100%;
        margin-top: 20px;
        margin-bottom: -50px;
      }
  }
  @media screen and (max-width: 1130px) {
    .about{
    flex-direction: column;
    }
    .icons{
        display: none;
    }
    .icons2{
        display: flex;

    }
    .details{
        margin-left: 0px;
    }
    .des{
        width: 70%;
        margin: auto;
        /* margin-left: 20px; */
    }
    .border{
        margin: auto;
    }
    .me{
        width: 80px;
        margin: auto;
        margin-bottom: 20px;
    }
    .role{
        text-align: center;
    }
    .name,.surname,.me{
        text-align: center;
        
    }
    .imagediv{
        margin: auto;
        margin-top: 20px;
    }
  }
