body{
    padding: 0;
    margin: 0;
    /* width: 100%; */
    height: 2000px;
    /* background-color: var(--primary-color); */
    font-family:Roboto,sans-serif;
  }
  .cursor {
    width: 40px;
    height: 40px;
    /* border: 1px solid white; */
    border-radius: 50%;
    position: absolute;
    transition-duration: 100ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events:visibleFill
}

.cursor::after {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    border: 8px solid black;
    border-radius: 50%;
    background-color: black;
    opacity: 1;
    top: -8px;
    left: -8px;
    animation: cursorAnim2 .5s infinite alternate;
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid red;
    
}
:root{
    --primary-color:hsl(23,72%,94%)
}
.dark-theme{
    --primary-color:#0d1017;
    color: #58595b;
}
  #app {
    width: 80%;
    margin: auto;
    height: 1800px;
    margin-top: 70px;
    background-color: var(--primary-color);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 10px;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 80%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }
  #app2{
    display:flex;
    justify-content:space-between;
    overflow: hidden; 
    background-color: var(--primary-color);
    
}
.app3{
    display:flex;
    justify-content:space-between;
    
}
.img{
    cursor: pointer;
}
.mail>a{
    text-decoration:none;
    color:rgb(97,106,115);
    display: block;
    transform: rotate(0deg);
    transition: transform 0.5s;
    margin-left: -5px;
    font-size: 18px;
    margin-top: 28px;
    z-index: -1;
    padding: 5px 10px;
}
.mail>a:hover{
    transform: rotate(-7deg); 
    color: white;
    background-color: rgb(230,85,71);
    font-size: 20px;
}
.app4{
    display:flex;
}
.sec{
    color:rgb(97,106,115);
    display: block;
    transform: rotate(0deg);
    transition: transform 0.5s;
    cursor: pointer;
    padding:5px 10px;
    height:29px;
    font-size:18px;
    margin-top:28px
}
.sec:hover{
    transform: rotate(-7deg); 
    color: white;
    background-color: rgb(230,85,71);
    font-size: 20px;
}
.app5{
    font-size: 30px;
    margin-top: 25px;
    margin-right: 20px;
    display: none;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav >div, a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .about{
    display: flex;
    margin-top: 20px;
  }
  .about1{
    display: flex;
    justify-content: space-around;
  }
  .imagediv{
    width: 400px;
  }
  .myimage{
    width: 100%;
    border-radius: 50%;
    margin-left: 40%;
  }
  .details{
    margin-left: 120px;
    /* margin-right: 90px; */
  }
  .icons{
    margin-left: 33px;
    margin-top: 150px;
  }
  .me{
    color: #F2F0EE;
    background-color: #2B2929;
    font-size: 21px;
    width: 70px;
    padding: 10px 10px;
    border-radius: 5px;
    border-bottom-right-radius: 28px;
  }
  .name{
    color: #58595b;
    font-size: 48px;
    margin-left: -20px;
    margin-top: -10px;
    font-family:Roboto,sans-serif
  }
  .surname{
    color: #58595b;
    font-family:Roboto,sans-serif;
    font-size: 48px;
    margin-top: -40px;
    margin-left: 20px;
  }
  .icons{
    cursor: pointer;
  }
  .role{
    color: #58595b;
    font-family:Roboto,sans-serif;
    margin-top: -20px;
    font-size: 20px;
    margin-left: -15px;
  }
  .des{
    color: #58595b;
    font-family:Roboto,sans-serif;
    margin-left: -15px;
    width: 400px;
    margin-top: 30px;
    font-size: 14px;
  }
  .maintalk{
       width: 70px;
       height: 70px;
       border: 1px solid red;
       border-radius: 50%;
       color: white;
       margin-top: 19px;
       margin-left: 10px;
       font-size: 20px;
       padding: 5px 7px;
       background-color: #e65446;
  }
  .border{
    width: 110px;
    height: 110px;
    background-color: #f3877e;
    border-radius: 50%;
    margin-left: 40px;
    margin-top: 45px;
    cursor: pointer;
    font-family:Roboto,sans-serif;
  }
  .talkone{
    margin-left: 15px;
  }
  .talktwo{
    margin-left: 25px;
  }
  
  /* .talk{
    width: 100%;
    height: 100%;
    margin-left: 16px;
  } */
  .one{
    margin-top: 10px;
  }
  .two{
    margin-top: 10px;
  }
@media screen and (max-width: 1250px) {
    #app {
        /* width: 85%; */
        /* margin-top: 0px; */
        height: 1950px;
        /* margin: auto; */
        border: none;
      }
      /* .sticky{
        width: 100%;
      } */

      .app4{
        display: none;
    }
      .app5{
        display: block;
      } 
  }
  @media screen and (max-width: 500px) {
      
      .imagediv{
        width: 300px;
        margin: auto;
        margin-top: 20px;
    }
    .mail{
        display: none;
      }
  }
  @media screen and (max-width: 380px) {
    .imagediv{
      width:200px;
      margin: auto;
      margin-top: 20px;
  }
  
}
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    
  }
  @media screen and (max-width: 1440px) {
    .myimage{
        margin-left: 0%;
      }
  }
  @media screen and (max-width: 1130px) {
    .about{
    flex-direction: column;
    }
    .icons{
        display: none;
    }
    .icons2{
        display: flex;

    }
    .details{
        margin-left: 0px;
    }
    .des{
        width: 70%;
        margin: auto;
        /* margin-left: 20px; */
    }
    .border{
        margin: auto;
    }
    .me{
        width: 80px;
        margin: auto;
        margin-bottom: 20px;
    }
    .role{
        text-align: center;
    }
    .name,.surname,.me{
        text-align: center;
        
    }
    .imagediv{
        margin: auto;
        margin-top: 20px;
    }
  }
